/**/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600i,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html{
    width: 100%;
    height: 100%;
    font-family: "Titillium Web", sans-serif;
}

#main-app-container{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

.page-container{
    width: 100%;
    /*max-width: 500px;*/
    height: 100%;
    background-color: white;
    display: inline-block;
    color: black;
    position: relative;
}

#card-image-container{
    background-image: url("../media/img/card_bg_source.gif");
}

#aria-image-container{
    background-image: url("../media/img/aria_bg_source.gif");
}

.image-container{
    position: absolute;
    z-index: 0;
    border: 2px black solid;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    opacity: 1.0;
    transition: opacity 0.5s;
}

.image-container:hover{
    background-color: black;
    color: white;
    opacity: 0.5;
    border: 0;
}

@media only screen and (max-width: 760px){

    .checkout-header-container{
        color: white;
        text-align: center;
        font-weight: 900;
    }

    .checkout-subheader-container{
        color: white;
        text-align: center;
        font-weight: 600;
    }

    .image-container{
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        border: 0;
    }

    .buy-item-button-container{
        border: 0;
    }
}

@media only screen and (min-width: 760px){

    .checkout-header-container{
        color: black;
        text-align: center;
        font-weight: 900;
    }

    .checkout-subheader-container{
        color: black;
        text-align: center;
        font-weight: 600;
    }

    .image-container{
        left: 10%;
        top: 10%;
        width: 400px;
        height: 500px;
    }

    .buy-item-button-container{
        border: 2px black solid;
    }
}

.buy-item-button-container{
    width: 300px;
    height: 100px;
    border-radius: 10px;
    line-height: 50px;
    padding: 2%;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    color: black;
    text-align: center;
    margin: 10% auto;
    background-color: white;
    transition: color 0.5s, background-color 0.5s;
}

.buy-item-button-container:hover{
    color: white;
    background-color: aquamarine;
    border: 0;
}

.options-container{
      position: absolute;
      right: 10%;
      width: 300px;
      height: auto;
      top: 15%;
}

.checkout-header-container{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 5%
}

.checkout-subheader-container{
    font-size: 22px;
}
