/**/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600i,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html{
    width: 100%;
    height: 100%;
    font-family: "Titillium Web", sans-serif;
}

#main-app-container{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

.page-container{    /*  #home-page-container   */
    width: 100%;
    /*max-width: 500px;*/
    height: 100%;
    background-color: black;
    display: inline-block;
    color: white;
    position: relative;
}

#application-title-container{
    width: 100%;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.preview-video-container{
    width: 100%;
    height: 55%;/*360px;*/
    background-color: black;
    color: white;
    position: absolute;
    top: 10%;
    line-height: 150px;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    transition: height 0.8s, top 0.8s, opacity 0.5s;
    z-index: 0;
    opacity: 1.0;
}

#preview-video-button-container{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 5px white solid;
    text-align: center;
    line-height: 150px;
    font-size: 36px;
    font-weight: 700;
    color: white;
}

#go-to-next-one-button-container,{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 50%;
    margin-left: -25px;
    border: 2px white solid;
    font-size: 0;
    
    
    position: absolute;
    bottom: 10%;
}

#go-to-next-one-indicator-container{
    width: 25px;
    height: 25px;
    left: 50%;
    margin-left: -12px;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 25px;
    
    bottom: 5%;
    position: absolute;
}





#main-options-page-container{
    background-color: yellow;
    color: black;
}

#go-to-previous-zero-indicator-container, #go-to-previous-one-indicator-container{
    height: 25px;
    /*left: 50%;
    margin-left: -12px;*/
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    
    
    color: black;
    position: relative;
    margin: 2% auto;
}

#go-to-previous-zero-button-container, #go-to-previous-one-button-container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*left: 50%;
    margin-left: -25px;*/
    border: 2px white solid;
    font-size: 0;
    
    
    background-color: black;
    position: relative;
    margin: 2% auto;
}

.option-button-container, .venture-option-container{
    width: 100%;
    height: 33%;
    min-height: 200px;
    font-size: 0;
    text-align: center;
    line-height: 200px;
    border-bottom: 1px black solid;
}

.option-button-title-container, .venture-option-title-container{
    font-size: 30px;
    text-transform: uppercase;
}

#market-option-button-container{
    
}

#market-option-button-title-container{
    
}
#about-option-button-container{
    
}
#about-option-button-title-container{
    
}




#market-option-page-container{
    background-color: aquamarine;
    color: black;
}

.venture-option-title-container{
    color: black;
}

/*#go-toprevious-one-indicator-container{
    
}
#go-to-previous-one-button-container{
    
}*/
/*#tsh-venture-option-container{
    
}
#tsh-venture-option-title-container{
    
}
#foodid-venture-option{
    
}
#foodid-venutre-p[tion-title{
    
}
#afs-venture-option-container{
    
}
#afs-venture-option-title-container{
    
}*/