<!DOCTYPE html>
<html>
<head>
    <title>House of Venus | City as a Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../css/main.css" type="text/css" />
    <script src="../js/socket.io.js"></script>
    <script src="../js/experience_fx.js"></script>
    <script src="../js/experience_markup.js"></script>
    <script src="../js/experience_main.js"></script>
</head>
<body>
</body>
</html><!-- In the pARk, there is a store called "House of Venus".
 This store is owned and operated by me, Patrice-Morgan Ongoly, along with
 Louis Banzani, Cameron Reed, Noah Dagne, and Guedalia Dina-Lenda. In our store,
 visitors can preview our two currently listed products: the "creative Augmented
 Reality desktop" ("cARd") and the "Augmented Reality internet assistant" ("ARia").
 The "cARd" is available for purchase at
 In this store, visiors can preview or buy two currently listed products:
 the House of Venus creative Augmented Reality desktop ("cARd") and the House of Venus Augmented Reality intelligent assistant ("ARia").
  can stream whatever content you like
 and watch it with friends. You can also order snacks delivered
  straight to your Cloud.-->
