<!DOCTYPE html>
<html>
<head>
    <title>House of Venus | City as a Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../css/main.css" type="text/css" />
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/socket.io.js"></script>
    <script src="../js/experience_fx.js"></script>
    <script src="../js/experience_markup.js"></script>
    <script src="../js/experience_main.js"></script>
</head>
<body>
</body>
</html><!-- In the pARk, there is a store called "House of Venus".
 This store is owned and operated by me, Patrice-Morgan Ongoly, along with
 Louis Banzani, Cameron Reed, Noah Dagne, and Guedalia Dina-Lenda. In our store,-->
